/* line 1, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4C71A4;
}

/* line 13, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}

/* line 22, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
#logo {
  margin-left: 50px;
  margin-top: 10px;
  width: 15%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAxCAYAAAA4GFC0AAAAAXNSR0IArs4c6QAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABy2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24%2BMTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5BZG9iZSBJbWFnZVJlYWR5PC94bXA6Q3JlYXRvclRvb2w%2BCiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY%2BCjwveDp4bXBtZXRhPgqyI37xAAASS0lEQVR4Ae2ce%2FCuVVXHOdxEJRDkzuF2ZPAC3srA0ogUEhUcb1GaTiNjY%2F8UWROlBjWFpkQ50aQ5aTIBinjBUQlyLMMRLSdSECQ7IEKHw01QRG4q%2FPp89rO%2F79nv83uvv3MEzuFdM9937ctaa6%2B99tr72c%2FzO7DVVgtaRGARgUUEFhFYRGARgUUEFhFYRGARgc0iAqs2hZdLS0tbY0dob6mxmbptD65atarta8Q2FLG1zYZaV0LvgX7bllwnBsbNeLa0RBwebBu22DIB2LYm1UxznFd%2BJqNbmFBNqpGzmtQ3UuFhbFzRicUEPVUGO4j6HtSfCQ4Fq8GO4IfgVnAduAJcmRML%2BW2pP5A65UK1%2FSlUtgOebu7a%2B8DVfVnatjhi%2FkxzFWxpJyZ3MPCEMg7G4zb6ro8M9S2LmJhJUYjyC8FHwR1gEj1I59fBaWB%2FleFGsBz3Dd%2Bd8m1A%2BlHHlq6Bbx%2BdMvAW%2BsM8S2zhL65zlyUO59YYLLsqbPbhYJKZ%2BGrKn3LWDT1A2SD8sIcfNzIW7wK%2Fm2BQ3hqUkxPeJlb0FolFYKDNKrH6F8Ss9zLOxLblKHaxf4FOH23HAy%2FVPwLtpTIXT21b9ihXTvh49DH5buz8I3wrbKrb%2BhFbfa74o4WMmWTMNss4DB5rZRpjfpqkOhKRS6qYSeIjyqP5x0BbbYJQHSJllDdQBuwN2L2LxDqJckvl9KKhz1uZR0vZeCaxEo%2FNYu5TE4vF37qeVLsyo%2FPrrJJUmbR2LP8buBTcDAzEbsBL%2FbHg8cCEMhE95SQv6lJ2aFfrfke1tf2L8iM4AlMTC9%2BzU%2F6a8p6gTaqcUD7%2F304CXg1fRiTnfjS%2BG7wK3A8eA64DvwKkdmd2LYtfI7Blbi4SoryBwJ8LQr7hidCbkgM0%2BKbnt60Wg7cY2r1bST8ATy%2BR62RL8tLm5f1WIPkSIK0Fy94KaXOsJH1c2Cj%2Bk7AZh2I7PO0tp69sdPixQDLOicM5ylIfxLPV3dRlxtmo%2BM5yYulz3uJ8hG0Hcqd6C6fU%2B3Ci2PGRWftgG8h%2B%2B8CbKT%2BLnrMp%2B%2Flhe7iB88SaZXdug6yG%2FSmP4aob%2FZm%2B7msg1Ne3nTYTNguozTzyozYTb21jw2tAIe2DxH7Z97zIzcOxp78jNxpjuy6FxsgVH%2BgzjoNYqtC2tXMoxlbyUw1q%2BEngbiC5g%2FJd5ZI68EyZjZ4Oa8%2FH4BA1fe2JlXE8sXYYUphQQTYJMUGqC9gcsp7AIxdt1CDI%2BgllJj%2FUjyy8JBs8J5afcKaeWNEf5UvbhtzYOdCXRG9VhsrqzzrWJGMmgjv15eBxwKw3WAnYn1GWtml3RNe0%2FBcZkxK2yjvWLJQTzJcHv767AAfCXgwOB%2FsAfbwT%2FA%2F4LHJfAC5GOSFpG0ltP%2BU1CGnzp4E2PZHvBdeBLwLtfg%2Fu%2BPoy8fTq2T4ItePAz4H9gS8wxvF2cCX4F%2FC56nPiStOAxiZCJBjP%2BDvn59DmXIyvcdFPuWt8ITL3AMSW9MU7r3LaV0Yfvk%2FfvpR%2FGUTGWNwDvgEuQuYS%2BNT4IjOaGGBwClG%2BGEieIPloeXk0aZs6%2BcjKR8nT5uTsa0%2Bs7NSraN8P%2FA3IyUlxJH2e1jXV1shNQ39ph%2B8G%2Fh7cAybRTXTmKqCPoxLAIe2L7Z0pvwdM8xeRpa%2BCo6t%2BsU09J9bEOxZyLrzjHgfG0Tt6tv91hOBRtP0B8O47iS6ic3W1NzK%2B9o0llLPQu1C%2BuY5kpmax4%2Bz8xkeM2oy3O%2BVc3pPE%2FrloHQjpw%2F0Vlk14eeRvoZzkGkoC2rPwR1A2YUKxEduxa3voAgpZyBKfdir0xfahlK8DodjS5%2FsqLLc%2BK3syKJsUnj%2FpjE0sZOLLL1FWTspYcumU%2BEg5Sfvp0tP5ot694Nu1Teacp8X3MO0iNxTfjDWWRwH%2BsyCkEyaX9KJq%2BCeZWI6VgDmmExZJINsk2yJnkCSP7EKUs1hZ%2BMNpU0cygOpqc5xd25WTPtO3a532LNpTKX9PQcgkSsz6tu23zTnmxLyMct5%2Bk1jtZj4nYyGXpPp5ykmixCFzy%2Bb3vldQ9S%2BkLkWuq3X%2BaKvva%2Bwq55ykG8De1d6yTWb7yEba83g7UCHINxrvPMp7%2F%2FhfIE28b3QiG%2FWrH4M3QMomh4t4F7gFeF%2BxLXJe8m07kokfDZdKULkfGDA%2F8n4cqNN%2Bj9Om8L52E2jtatsFV%2F6l2Pg9uJRkwnS541j%2FCNgZeH%2FxJcW4GTP7bgP%2FVbG%2Bttn3WOCd63jsOIaU%2B2XWoWvtfn2TdrG9E34WmGTx1%2FGc25nIvBWZok952jqlX1v66p3yZmB7G1%2Fj4JeB%2FcCRQBqXQ11v%2B4tD2REnUZacSDLZbPXvfe7U2Y22A%2FTKsQNvH4U5HWke7K5rKP8qWA28Ix0MTgMhT4js4DOqj77RJQk%2BUAVzAmXXes95BdgX7AoOAe8AIX2JPz6a%2FWdCZf6UDbzltwCpb3s9ba8HT1ROorwTcLzrgfSC2l7efqmPumOdXZQ7fU%2FG76oIZQ7h76m2vCcP1idl%2BKgTK2urr68FewHj%2B2TwLhCK3KkZIz7NxLGSxDq1WmyPSL8%2FFYfho3bUTGO0Qo29PSjnjpWFTMC%2BQp9vVcuI9r8CkrKRv1hB6ln4pytQyQQckltmtNM9IQrwNmlPqbbdwY6xM8idzeBnAa6lXB4ZyvWJvjWg%2FPUB7skaX5NYxiAb5Tz1qZv0iVH6wt%2BfMZAZJFXVy5r1Eyu%2B%2Bs%2BVDop%2By2n%2FbRD6o%2FTRMN%2F6o5DE%2BtNqrU0sj%2FNCcxuOYo9jJ5P2tLiljmlQk1x3Uj5ANfhjgIvgjizfxODPBqEkzFeqfE6r06uAc4ld70N7VbnHU94ebAccw08sjvd3QNJuFuFrlPUhtn%2BdsmS%2FCRh6XrWxAw3xWb9FiXHtz%2Fz7idUm83vR2RHcCKQkU%2BbyYW1J9BW%2Fulr3S1vGGJdYr6u6j1UW6KOnffS%2BQPldVab0t%2FZnKmMgiXUqZalNrCupJ6DzZeyY0bE3KqAGNUnyzjqhckLEDP2Z9P6U86qcgA82QNX1cSe5%2BLF7cmyN48h6GvmNR0piqV%2F%2BJFVtn1V6O7uxfUHtK3MbZR8dF2iQBJT7cTBpMubnKHtqS3ncJqk%2BGvv0DeylrfqRWLWJFdtXRw8%2BtKapw8vjv9oakmnHSXnspKvAdyvXUIztQtlH0vdrWy6aVOcnHYe8fEp%2F3LHBv4KIf59s2mtxiOXyOdRYbcPKEX9I7XQeJcjwI%2BhzF3q3GWmjtvvC8lNA3VyQn0G5%2FFkK%2FkwQSpw%2BkYZxfIZLtaomir690Ark%2BG4w25zHLeD1wJNq4odhZXqUtfs0vpiky%2FRpp7ms0a3q1nL0euY2VLNwG1q6UhTX1Y4Ey%2BruwMdHEsu2jSF9cJefAPfRkYUzcI57B%2FgWkOJXV5v%2Bq746q0F5tMFtS%2FsrKc9K2nEhswnWVMVd4blHaTcnhl%2FWpXl97rSGfx1XOyL2HcsY7QlOBOXSDp%2BHtCH9d8dG%2F9bkKj5YHi013KrwKIpyFtTJ6ISL7mPyaUCKY11tzl%2BSyT%2BRmFSeGH%2FRU48PJrCfF1ZC8S9vZC5EyD6TxNfnaYgv8pRj0zfkJC3FQj%2Fg9zu1HPlanYnF71bYNtfLOQjrsf12YrgPsfTRNm5NER8idSO7vvbE3pCgFWzP9Qf%2BGO4bygDX0HFD7bQtC3N0X2GF9Yx%2FJvprgAucHRmTLr4JLcWvrjb77%2BCi3FPxtLRvGrLQ4ZqJn84h87Bdch75JlUa5vxJnFVr52wsMp4y%2BuBYTwBnAKn1sWsZ%2FxtZv7ttUuoHpBg3O%2BtpcjcNuQQ7kcj7oXCHukPi3FyOoe%2BHPnfYiSj%2BJsgjcC47MwqPCly7YLOYyTxNRin1NvG7nu7jqKewFLmuNvk3snlJ0ce0mUCO%2Fc%2FgPOBaOLabwrV5DbE8hph6V7JtHsoY8%2BhMlE2QRgnpuA5fBHIXsc0EOBC8GpwDtOGkZ6aaVL69%2FSJKH6iKTm5TTzDJk8dS%2FHene3d7beUuRGQpjiR9U0YofyOQtOPjeicrlXw0%2BhZ1fRqmcWJRrgVV7vcrj09JIDf5y8Cu4HjgS5RrlE1%2FOuVnk1xeL2Cz3YfQeejIiToafE%2FgxzOpff1dSz3fkSYl6MBp5P2HeuURAj8K3AskAyF5Ugopr8KOU3YwfCjxqMfH1ZSXfW6IPNx%2Bv4VJsWv5sIFzKyigX%2FyBX6oxyHnE%2Fm9pkvrU2CAz%2BK5FOX9JSExi7yr6%2FPNPIcr5aBm58JMVoH%2Fo1KKeWOVzQz7L0LX03KqTx3sZY2N%2BymCjDJDtLrCvn77Onl9lPK0c3B10MCinDTJO3o%2BLJo5BauG3Gj%2B0act%2FqWhyvhHdzwMfF9oy%2BO46F2ooeaivmBir7Hj4Oox8szGUE%2FY3bMOfx4GS9D2u39k8O1bZzNPYJX6eJKGcMifUBkwMb4gIyh0PlpeYEym%2FzWaQRTYu0n8wDzdi8Yfy39oGjJ0xjC9%2Fgswa%2Bk202KD7EURxDO7fjLIjTAwpO%2BkjlNvHwNgZIHcA%2BBAIxUa47dlJaVtL24pOLB1BtwQX7puTpP3MwVNsnyrn1%2FYkV9kI1MtiwZ8GrgXHVNlyGlB3UR3jRUDSrhsy9l8Tedq06SYLyhj2S7SfBELRt554nFvl9DHjPi8KcMeNbPlgSj3Jpv3M5SE5scqkJv3gUCZxBmUpX32dSBb%2FJsqnAv8e1x7XBvGJ4BjwQZBHn3oJXhKWphLcb1uAEqSNTawE9BBsZix9T%2Fk%2FKfttbiTR9zKQPzPp0wsUhJfTOUrULweSdjM35b0TjSX6DwTng1B0U08cztEIjdkoWZf3VsHIZU3KuPRlEyQOj5jEikP%2BveuaOokkl9UskGUX7FrwJXAJMNi3gpZa%2BdbOqxHyEfqdKpxAraW%2B4hOrLkZ%2FEfLviuKLPr4THA%2BeD%2FwXmW8DXwShVuel1W55zNdy%2FmAdv7PA6p8LfJM%2BGOxduQn7QZB%2Fj6W88TOx2uSKvX5iZV3cuO0dOHP6Ju2DpKIc%2BUdGYvUW5mdwMAE2KQyEZCASgNLQ%2B0l%2F5J18An875WPrOAY9iRh7a2nb2MTKLt8FWzkR9V%2FKQnS15b9ZaP2N7O9Uf2M3l%2FiPVfXESN3M2a67gRsnyWSbpF3lMmfb1JXSNpRYvXV5Uyc68C86p1S57eiPjw9JYpUsdvBJxEXQoHr5vgy55wMv9GWx4V6EvWx6Ksi94LfIpdxFSLuy1i8Eh2L3YrjkJTSX1VyCw4vAhJ%2FI9fVVcdH03799Hgf8B33670dMA65f7djasC4yJ%2F3V7z%2FEzpnY88KtnpQXjtdRvhR4wbZPO%2BrHtp8h%2FGLvdcE%2BY5cxKJbPGFfB%2FxxoU93MK5ymAZXx8eN9tPw70D%2FnlHV9K34%2BhX7HsU%2BKHXliVTo25U8cmGoT55JcvgE9A5wHnLzHrUG3nEDK2zLVMtkklP8xxq9h8zhwM5NPkipXju%2BGJyD2TaLIRT%2F1otP479%2FwfL2%2BAjiuvsd%2FF8pFSMLEX226mU7Azun4m0WniYl3b9D%2B1zL3UT0K%2FBPQpvrGWHltuuiB9choX5mzgbF1o1kXmYeyQ8R4uDL4nPHm2pk5mTi%2BdZ9Z2zOn2HHMrL%2FjPLzUTMSL5BHgH8ANYBr5iLsAvAqUCcGNzOASTHk3sA54wuS71Dcol8SDDwWAeuzsS9l%2F2Wny3wWkLydSlAd6lMtCwX08%2BC3oCjCJvkXnaWA37cEH%2FsZ%2BuH1N%2BSXULwZ5YaE4krwfnQWe09NVWN3E4Sz7qQ%2FGaOQzp79UCVLHx7GPXsmP2YUof7K0bJDxsXm4nfBltjut%2BX8HAZ9HFQfKgrpT1aPuF%2BCngieD1cB%2FYqLMPcCd7jck%2F49%2Bd8ALoeOjycfAgOrE9qXBQLnj9M8TZJ27Ez6StEWH4zqmcvL70LkRvowch77sYP1%2FFkKHAW3sCDx5bgJfB5cjez9cuWU%2B294SMv3YHES%2FC3cI2AO4SYzL%2FwFPz8uwfzu8LKx%2BYcNH5d422Q654HfSd1up9X6Qp2tweh1Ad1kXuPrGxv%2BmcD3cMfaCuV6RsXk9%2FWWOVh52wkl378xZjmx5i4KvKKE35YT1AZSdPs2ucqAkzDTZ9FedmeaJ7ExxRG6svUl9%2BjStP35vKj7W0XkGwGmDrq2gr%2B7Omen%2FgdDYUkd7bsd2d%2FVtl%2FpG6DlG63%2FsO378ls9NdTFb262dMjeMLotLo%2BeY6swUh0ZvoFN1B%2F%2FkZUScHGPQb2VBiwgsIrCIwCICiwgsIrCIwCICiwgsIvAoisD%2FA%2BeukBMuuyGhAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
}

/* line 30, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropbtn {
  background-color: #4C71A4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: "proxima-nova",sans-serif;
  letter-spacing: .02rem;
  margin-top: 20px;
}

/* line 41, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 46, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
}

/* Links inside the dropdown */
/* line 58, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* line 66, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
/* line 69, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* line 74, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.dropdown:hover .dropbtn {
  background-color: #4C71A4;
  color: rgba(255, 255, 255, 0.5);
}

/* line 79, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.connect {
  width: 30%;
  margin-right: 50px;
  text-align: right;
  margin-top: 35px;
}

/* line 86, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
#log_in {
  color: white;
  font-family: "proxima-nova",sans-serif;
  letter-spacing: .02rem;
  padding: 10px;
  font-size: 14px;
  margin-right: 40px;
}

/* line 95, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
#log_in:hover {
  color: rgba(255, 255, 255, 0.5);
  font-family: "proxima-nova",sans-serif;
  letter-spacing: .02rem;
  padding: 10px;
  font-size: 14px;
  margin-right: 40px;
}

/* line 105, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
#get_started {
  color: #E9CA2C;
  font-family: "proxima-nova",sans-serif;
  letter-spacing: .02rem;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #E9CA2C;
}

/* line 115, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
#get_started:hover {
  color: #314B68;
  font-family: "proxima-nova",sans-serif;
  letter-spacing: .02rem;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #E9CA2C;
  background-color: #E9CA2C;
}

/* line 128, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.middle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 550px;
  box-sizing: border-box;
}

/* line 136, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
  bottom: 0px;
  top: 100px;
  bottom: 0px;
}

/* line 147, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.text_box {
  color: white;
  padding: 30px;
}

/* line 152, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
h1 {
  font-family: "DIN Next W01 Bold",sans-serif;
  font-size: 40px;
}

/* line 157, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
h2 {
  font-family: "roboto",sans-serif;
  font-size: 16px;
}

/* line 162, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.big_button {
  background-color: #E0BE2D;
  color: #314B68;
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  border-radius: 5px;
  height: 60px;
  width: 220px;
  margin-left: 30px;
}

/* line 173, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.big_button:hover {
  background-color: #E0BE2D;
  color: #314B68;
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  border-radius: 5px;
  height: 60px;
  width: 220px;
  margin-left: 30px;
  opacity: 0.8;
}

/* line 186, /Users/segolenealquier/Documents/PROG/TheHackingProject/Semaine_7/#2/landing_pages/app/assets/stylesheets/custom.scss */
.video {
  height: 100%;
  width: 20%;
  justify-content: center;
  align-self: center;
  text-align: center;
  flex: 1;
  background-color: transparent !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

